
.beranda {
    background-color: #031c2b;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    margin: 0;
}

.kolom1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom1 > img {
    margin: 100px;
}

.kontener{
    padding-top: 50px;
}

.kolom2 {
    text-align: left;
}

.kolom2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.kolom2 > h1 {
    margin: 100px;
}